@import "../../assets/colors.scss";

// Layout

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 700;
  font-size: 1rem;
}
  
.select-row {
  margin-top: 4em;
}

.mode-row {
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.mode {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.home-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.mode-img {
  max-width: 100%;
}

@media (max-width: 550px) {
  .home-container {
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }
  .title-row {
    height: 10vh;
    margin-top: 3em;
  }
  .select-row {
    height: 10vh;
  }
  .mode-row {
    height: auto;
    flex-direction: column;
  }
  .mode {
    flex-direction: column;
    width: 100%;
  }
  .mode-img {
    max-width: 80%;
  }
}

/* Typography */

.title {
  font-size: 2.5rem;
  color: $green;
}

.select-text {
  font-size: 1.5rem;
  color: $white;
}

.mode-text {
  color: $white;
}