@import "../../assets/colors.scss";

// Layout

.search-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title-row {
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search-input-row {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem 0 4rem 0;
}

.search-images-grid {
  height: 40%;
  width: 60%;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-link {
  flex-direction: column;
  transition: all .3s ease-in-out;
  text-decoration: none;
  height: 50%;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.image {
  height: 100%;
  margin-bottom: 1rem;
}

.search-input {
  height: 2.5rem;
  width: 25rem;
  max-width: 80%;
  box-sizing: border-box;
  padding-left: .5rem;
  border-radius: 10px;
  border: none;
  transition: all .2s ease-in-out;
  &:focus {
    outline: none;
    background: #d4d4d4;
  }
}

@media screen and (max-width: 700px) {
  .search-container {
    min-height: 100vh;
  }
  .search-title-row {
    height: 30%;
  }
  .search-input-row {
    height: auto;
  }
  .search-images-grid {
    height: 45%;
    width: 100%;
    grid-template-columns: repeat(1fr);
  }
}

// Typography

.search-title {
  color: $white;
  font-size: 2.8rem;
  text-align: center;
}

.image-text {
  color: $white;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .search-title {
    font-size: 2.2rem;
  }
}