.mode-space {
  justify-content: space-around !important;
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  width: 80%;
}

.more-margin {
  margin-bottom: 5%;
}

// Makes img a circle
.rounded {
  border-radius: 50% !important;
  max-width: 200px !important;
}

.mode-static {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-bottom: 2.5rem;
}

.mt-text {
  margin-top: 10px;
}

@media (max-width: 660px) {
  .home-container {
    height: auto;
    justify-content: flex-start;
    align-items: center;
  }
  .home-margin {
    margin-top: 2.2rem;
  }
  .title-row {
    height: 10vh;
    margin-top: 2.2rem;
    .title {
      font-size: 2rem;
    }
  }
  .select-row {
    height: 10vh;
  }
  .mode-space {
    height: auto;
    flex-direction: column;
  }
  .mode-static {
    flex-direction: column;
    width: 100%;
  }
  .mode-img {
    max-width: 70%;
  }
}
